input{
  width: 300px;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.input {
  margin-bottom: 5px;
display: flex;
align-items: center;
text-align: center;
}

.submit-button {
  margin-top: 5px;
}
.form-container {
  width: 400px; /* Defina a largura do formulário conforme necessário */
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
